@using System;
@{
  Layout = "_Layout";
}
<h1>Salon</h1>
<h2>Add New Appointment with @ViewBag.Stylist.Name
</h2>

@using HairSalon.Models

<!-- Data -->
@model HairSalon.Models.Appointment

<!-- Form --> 
@using (@Html.BeginForm("Create", "Appointments"))
{
  <div class="mb-3">
  <!-- Client --> 
    <label for="stylistInput" class="form-label">
      @Html.LabelFor(model => model.Client)
    </label>
    @Html.DropDownList("ClientId", null, new {@class = "form-select"})
  </div>
  <div class="mb-3">
  <!-- DateTime --> 
    <label for="stylistInput" class="form-label">
      @Html.LabelFor(model => model.DateTime)
    </label>
    @Html.TextBoxFor(model => model.DateTime, null, new { type="datetime-local" })
  </div>

  <!-- Submit -->
  <input type="submit" value="Add Appointment" class="btn btn-outline-dark"/>
}
<!-- Navigation --> 
<p>@Html.ActionLink("Back to Client List", "Index")</p>
