@{
  Layout = "_Layout";
}
<h1>Salon</h1>
<h2>Add New Client</h2>

@using HairSalon.Models
@model HairSalon.Models.Client
<!-- Data -->
<!-- Form --> 
<p>NOTE: Clients may not be added without a stylist association. If there are no stylists in drop-down list, add stylist before proceeding.</p>
<p>@Html.ActionLink("Add New Stylist", "Create", "Stylists")</p>


@using (@Html.BeginForm())
{
  <!-- First Name -->
  @Html.LabelFor(model => model.FirstName)
  @Html.TextBoxFor(model => model.FirstName)
  <br>
  <!-- Last Name --> 
  @Html.LabelFor(model => model.LastName)
  @Html.TextBoxFor(model => model.LastName)
  <br>
  <!-- Phone Number --> 
  @Html.LabelFor(model => model.Phone)
  @Html.TextBoxFor(model => model.Phone)
  <br>
  <!-- Email --> 
  @Html.LabelFor(model => model.Email)
  @Html.TextBoxFor(model => model.Email)
  <br>
  <!-- Stylist --> 
  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
  <br>
  <!-- Submit -->
  <input type="submit" value="Add Client"/> 
}
<!-- Navigation --> 