@{
  Layout = "_Layout";
}
<h1>Salon</h1>
<h2>Edit Client Details</h2>

<!-- Data -->
@using HairSalon.Models
@model HairSalon.Models.Client

<!-- Form --> 

@using (@Html.BeginForm("Edit", "Clients", routeValues: new { id = @Model.ClientId}))
{
  @Html.HiddenFor(model => model.ClientId)
  <div class="mb-3">
    <!-- First Name -->
    <label for="firstNameInput" class="form-label">
    @Html.LabelFor(model => model.FirstName)
    </label>
    @Html.TextBoxFor(model => model.FirstName, null , new {@class = "form-control", @placeholder="Jane", @id="firstNameInput"})
  </div>
  <div class="mb-3">
    <!-- Last Name --> 
    <label for="lastNameInput" class="form-label">
      @Html.LabelFor(model => model.LastName)
    </label>
    @Html.TextBoxFor(model => model.LastName, null , new {@class = "form-control", @placeholder="Doe", @id="lastNameInput"})
  </div>
  <div class="mb-3">
    <!-- Phone Number --> 
    <label for="phoneInput" class="form-label">
      @Html.LabelFor(model => model.Phone)
    </label>
    @Html.TextBoxFor(model => model.Phone, null , new {@class = "form-control", @placeholder="(###)###-####", @id="phoneInput"})
    </div>
  <div class="mb-3">
    <!-- Email --> 
    <label for="emailInput" class="form-label">
      @Html.LabelFor(model => model.Email)
    </label>
    @Html.TextBoxFor(model => model.Email, null , new {@class = "form-control", @placeholder="Jane@gmail.com", @id="emailInput"})
  </div>
  <div class="mb-3">
  <!-- Stylist --> 
    <label for="stylistInput" class="form-label">
      @Html.LabelFor(model => model.Stylist)
    </label>
    @Html.DropDownList("StylistId", null, new {@class = "form-select"})
  </div>
  @Html.LabelFor(model => model.Stylist)
  <br>
  <!-- Submit Edit -->
  <input type="submit" value="Update Client Details" class="btn btn-outline-dark"/> 
}

@using (@Html.BeginForm("Delete", "Clients", routeValues: new { id = @Model.ClientId}))
{
  @Html.HiddenFor(model => model.ClientId)
  <!-- Submit Delete -->
  <input type="submit" value="Delete Client" class="btn btn-outline-dark"/> 
}